.container__titulo {
    background-color: var(--background-color);
    width: 360px;
    height: 42px;
    
}

hr {
    background-color: var(--hospital-color-1);
    height: 1.7px;
    border-radius: 7px;
}

.container__titulo-dia {
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    background-color: var(--background-color);
    padding: 10px;
    color: var(--hospital-color-1);
}

.day__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
    background-color: var(--background-color);
}

.container__perfil {
    width: 328px;
    height: 170px;
    border-radius: 10px;
    padding: 20px;
    border: 0.7px solid var(--hospital-color-1);
}

.marcos {
    width: 328px;
    height: 220px;
    border-radius: 10px;
    padding: 20px;
    border: 0.7px solid var(--hospital-color-1);
}

.container__perfil-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.container__perfil__info {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.container__perfil__nome-medico {
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: var(--hospital-color-1);
}

.container__perfil__tipo-consulta {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: var(--hospital-color-3);
    
}

.container__perfil__chat {
    margin: 0px 0px 0px 100px;
}

.container__perfil__hora-consulta {
    margin-top: 20px;
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: var(--hospital-color-4);
}

.container__perfil__ligar-por-video {
    margin-top: 10px;
    width: 139px;
    height: 48px;
    background-color: var(--hospital-color-2);
    border-radius: 8px;
    color: var(--background-color);
    border: none;
}

.container__perfil__ligar-por-audio {
    width: 139px;
    height: 48px;
    background-color: var(--background-color);
    color: var(--hospital-color-1);
    border-radius: 8px;
    border: none;
}

.container__perfil__ver-endereco {
    width: 296px;
    height: 48px;
    background-color: var(--hospital-color-4);
    border-radius: 8px;
    color: var(--background-color);
    border: none;
    margin-top: 10px;
}